* {
    direction: rtl;
}

.parent {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: aquamarine;
}

.child {
    position: absolute;
    top: 0px;
    right: 250px;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    background-color: brown;
}